<div class="container">

            <div class="card shadow shadow-lg mt-4">
                <div class="card-body text-center">
                    <!-- Registration Form -->
                    <form action="/auth/dashboard">
                        <div class="mb-3">
                            <label for="email" class="form-label float-">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="John">
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary">Login</button>
                        <!-- Register -->
                        <p class="lead mt-3">Don't have an account? <a href="/auth/register">Register</a></p>
                    </form>

                    

                </div>
            </div>
        </div>