<div class="container">

            <div class="card shadow shadow-lg mt-4">
                <div class="card-body text-center">
                    <!-- Registration Form -->
                    <form action="/auth/login" method="get">
                        <div class="mb-3">
                            <label for="email" class="form-label float-">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="firstname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="John">
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="John">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="John">
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary">Register</button>
                        <!-- login -->
                        <p class="lead mt-3">Already have an account? <a href="/auth/login">Login</a></p>
                    </form>

                    

                </div>
            </div>
        </div>