<div class="container">
        <div class="col-10 offset-col-1 mt-3">
            <div class="card border-primary shadow shadow-lg border border-rounded mb-3">

                <div class="card-body">
                    <h4 class="card-title">Story title</h4>
                    <p class="card-text text-justified">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est beatae provident quisquam eligendi nostrum aspernatur ad, quibusdam nihil possimus earum error eum corporis ducimus assumenda, voluptate quaerat at explicabo? Sit.
                    </p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="font-weight-bold text-decoration-none pl-5 "  title="View User stories" href="/stories/user/1">John Doe</a>

                    </div>
                </div>
                <div class="card-footer">
                    <p class="font-weight-bold">Date  12-06-2023</p>
                </div>
            </div>
        </div>
    </div>